

.logoSection {
    align-self: center;
    flex-direction: row !important;
    flex-wrap: nowrap;
    .logo.css-2ulfj5-MuiTypography-root {
        font-family: "Roboto-Medium";
    }
    img {
        height:30px;
        margin-right: 10px;
    }
} 

